/* ========== General Design ========== */
:root {
  --bg-light: #fefefe;
  --bg-dark: #a39f94;
  --text-dark: #57564f;
  --text-light: #edecec;
  --accent1: #e0e7d7;
  --accent2: #b7c396;
  --accent3: #70803f;
  --accent4: #4b5d3a;
  font-family: 'Noto Sans', sans-serif;
}

body {
  margin: 0;
  background-color: var(--bg-light);
  color: var(--text-dark);
}

h2 {
  font-family: 'Megrim', system-ui;
  color: var(--text-dark);
  font-size: 2rem;
  margin-bottom: 3rem;
  line-height: 3rem;
}

h3 {
  font-family: 'Megrim', system-ui;
  color: var(--accent2);
}

a {
  color: var(--text-dark);
}

input {
  padding: 0.5rem;
  border: 1px solid var(--accent2);
  border-radius: 6px;
  font-size: 0.8rem;
  width: 15rem;
}

input:focus {
  border-color: var(--accent3);
  outline: none;
  box-shadow: 0 0 2px var(--accent3);
}

.btn {
  display: inline-block;
  background-color: var(--accent2);
  color: var(--text-dark);
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  text-decoration: none;
  margin-top: 1rem;
  font-weight: 500;
  font-size: 1rem;
  transition: background-color 0.2s ease;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--text-dark);
  color: var(--accent2);
  color: white;
}

.lilotus-footer {
  height: 2rem;
  display: flex;
  gap: 0.5rem;
  font-family: 'Megrim', system-ui;
}

.lilotus-logo-name {
  height: 3rem;
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
  gap: 0.5rem;
  font-family: 'Megrim', system-ui;
}

.signin-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem auto;
  width: 100%;
  max-width: 40rem;
  align-items: center;
}

.form-row {
  width: 100%;
  display: grid;
  grid-template-columns: 7rem 1fr;
  align-items: center;
  gap: 0.5rem;
  line-height: .7rem;
}

.form-row label {
  text-align: right;
}

/* ========== Footer ========== */
footer {
  background-color: var(--accent1);
  padding: 1rem;
  line-height: 0.3rem;
  font-size: 0.8rem;
}

/* ========== Layout Sections ========== */
section {
  padding: 4rem 1.5rem;
  text-align: center;
  line-height: 1.6rem;
}

section p {
  max-width: 800px;
  margin: 0 auto;
}

.section-info {
  background-color: var(--bg-dark);
  color: var(--text-light);
}
